.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: orange;
  }